<div class="container">
  <h1>Welcome to Craigslist Jr.</h1>
  <br>
  <%= Category.all %>
  <h3> Choose your Category! :) <h3>
  <form action="/category" method="get">
    <select name="category_select" > 
      <option value="auto">Auto</option>
      <option value="furniture">Furniture</option>
      <option value="rentals">Rentals</option>
      <input type="submit" value="Submit!">
    </select>
  </form>
</div>
  



<!-- <table>
    <tr>
      <th>File Description</th>
      <th>File Location</th>
    </tr>
    <tr>
      <td>This view file</td>
      <td><code><%= __FILE__.gsub(Sinatra::Application.root, '') %></code></td>
    </tr>
    <tr>
      <td>The layout file</td>
      <td><code><%= File.expand_path('../layout.erb', __FILE__).gsub(Sinatra::Application.root, '') %></code></td>
    </tr>
    <tr>
      <td>The current controller</td>
      <td><code><%= File.expand_path('../../controllers/index.rb', __FILE__).gsub(Sinatra::Application.root, '') %></code></td>
    </tr>
  </table> -->